<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="mt-3">User Info</h2>
        <% if session[:error].present? %>
          <div id="error_explanation">
            <h2 class="text-danger mt-3"> <%= session[:error].count %> errors prohibited this obj from being saved:</h2>
            <ul class="errors">
              <% session[:error].each do |e| %>
                <li class="text-danger"><%= e %></li>
              <% end %>
            </ul>
            <% session[:error] = nil # 念のため使い終わったら消す %>
          </div>
        <% end %>
        <%= form_with model:@user, local:true do |f| %>
         <span class="text-danger">
        </span>
          <p class="mt-3 mb-1">Name</p>
          <%= f.text_field :name, autofocus: true, id:"inputTitle"%>

          <p class="mt-3 mb-1">Image</p>
            <%= f.attachment_field :profile_image, placeholder: "ファイルを選択" %>

          <p class="mt-3 mb-1">Introduction</p>
          <div>
            <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction"%>
          </div>
          <%= f.submit "Update User", class:"btn btn-secondary my-3" %>
        <% end %>
    </div>
  </div>
</div>